{{#each moties as |motie|}}
  {{log moties}}
  <section data-id="{{motie.id}}">
    <p>emotion: {{motie.emotion}}</p>
    <p>intensity: {{motie.intensity}}</p>
    <p>cause: {{motie.cause}}</p>
    <p>appearance: {{motie.appearance}}</p>
    <p>solution: {{motie.solution}}</p>
    <!-- <button data-id='{{motie.id}}' class="btn btn-danger delete-button">delete motie</button> -->
  </section>

{{/each}}
