{{#each moties as |motie|}}
  <section data-id="{{motie.id}}">
    <p>emotion: {{motie.emotion}}</p>
    <p>intensity: {{motie.intensity}}</p>
    <p>cause: {{motie.cause}}</p>
    <p>appearance: {{motie.appearance}}</p>
    <p>solution: {{motie.solution}}</p>
    <p>created at: {{motie.created_at}}</p>
    <p>updated at: {{motie.updated_at}}</p>

    <button data-id="{{motie.id}}" class="btn-delete btn-danger delete-button">delete motie</button>

<!-- SAVE CHANGES BUTTON NEEDS TO ACTUALLY BE THE SUBMIT BUTTON -->

  <button data-id="{{motie.id}}" type="button" class="btn-edit btn-warning launch-edit-modal ">
    edit motie
  </button>
</section>

{{/each}}

<!-- <div class="card" style="width: 18rem;">
 <img class="card-img-top" src="..." alt="Card image cap">
 <div class="card-body">
   <h5 data-id="{{motie.id}}" class="card-title">created at: {{motie.created_at}}</h5>
   <h6 class="card-title">updated at: {{motie.updated_at}}</h6>
   <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
   <a href="#" class="btn btn-primary">Go somewhere</a>
 </div>
</div> -->
